<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkwl.service.capital.dao.UserCoinWalletMapper">

  <sql id="userCoinWalletColumn">id, uid, coin_id, total, frozen, borrow, ico, gmt_create, gmt_modified ,version, deposit_frozen , deposit_frozen_total</sql>
  
 
  <insert id="insert" parameterType="UserCoinWallet">
    insert into user_coin_wallet (uid, coin_id,
      total, frozen, borrow, ico,
      gmt_create,gmt_modified, deposit_frozen , deposit_frozen_total)
    values (#{uid,jdbcType=INTEGER}, #{coinId,jdbcType=INTEGER},
      #{total,jdbcType=DECIMAL}, #{frozen,jdbcType=DECIMAL}, #{borrow,jdbcType=DECIMAL}, #{ico,jdbcType=DECIMAL},
      #{gmtCreate,jdbcType=TIMESTAMP},#{gmtModified,jdbcType=TIMESTAMP}, #{depositFrozen,jdbcType=DECIMAL}, #{depositFrozenTotal,jdbcType=DECIMAL})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="UserCoinWallet">
    update user_coin_wallet
    set total = #{total,jdbcType=DECIMAL},
      frozen = #{frozen,jdbcType=DECIMAL},
      borrow = #{borrow,jdbcType=DECIMAL},
      ico = #{ico,jdbcType=DECIMAL},
      deposit_frozen = #{depositFrozen,jdbcType=DECIMAL}, 
      deposit_frozen_total = #{depositFrozenTotal,jdbcType=DECIMAL} ,
      version = if( version+1> 9999999999999999,0, version+1),
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=BIGINT}
  </update>
  
  <select id="selectByUidAndCoin" resultType="UserCoinWallet">
    select <include refid="userCoinWalletColumn" />
    from user_coin_wallet
    where uid = #{uid} and coin_id = #{coinId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUidAndCoinLock" resultType="UserCoinWallet">
    select <include refid="userCoinWalletColumn" />
    from user_coin_wallet
    where uid = #{uid} and coin_id = #{coinId}
  </select>
  
  <select id="selectByUid" resultType="UserCoinWallet">
    /*TDDL:MASTER*/
    select wallet.*,coin.name as coinName,coin.short_name as shortName,coin.web_logo as webLogo ,coin.is_use_memo
    from user_coin_wallet wallet
	LEFT JOIN system_coin_type coin on wallet.coin_id = coin.id
    where wallet.uid = #{uid} and coin.status != 2 order by coin.sort_id
  </select>
  
  <update id="updateTotal2FrozenCAS">
	update user_coin_wallet set
		total = total - #{amount,jdbcType=DECIMAL},
		frozen = frozen + #{amount,jdbcType=DECIMAL},
		gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
		version =if(version+1> 9999999999999999,0,version+1)
	where id = #{id,jdbcType=INTEGER} and version=#{version,jdbcType = INTEGER}
  </update>
  
  <update id="updateTotalCAS">
	 update user_coin_wallet set
	   total = #{total,jdbcType=DECIMAL},
	   gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
	version =if(version+1> 9999999999999999,0,version+1)
	 where id = #{id,jdbcType=INTEGER} and version=#{version,jdbcType = BIGINT}
  </update>
  
  <update id="updateFrozenCAS">
	 update user_coin_wallet set
	   frozen = #{frozen,jdbcType=DECIMAL},
	   gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
	version =if(version+1> 9999999999999999,0,version+1)
	 where id = #{id,jdbcType=INTEGER} and version=#{version,jdbcType = BIGINT}
  </update>
  
  <update id="updateFrozen2TotalCAS">
	update user_coin_wallet set
		total = total + #{amount,jdbcType=DECIMAL},
		frozen = frozen - #{amount,jdbcType=DECIMAL},
		gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
		version =if(version+1> 9999999999999999,0,version+1)
	where id = #{id,jdbcType=INTEGER} and version=#{version,jdbcType = INTEGER}
  </update>
</mapper>
