<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkwl.service.user.dao.ApiKeyMapper">


<update id="updateExpireKeyStatus">
<![CDATA[
update api_key set status=3 where create_time<=date_add(NOW(), interval -90 day)
and status!=3 and (ISNULL(ip) || LENGTH(trim(ip))<1)
 ]]>
</update>


</mapper>