<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.admin.bc.dao.NetTradeRankActivityMapper">

	<select id="countByParam" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(id)
        from net_trade_rank_activity
    </select>

    <select id="getPageList" resultType="NetTradeRankActivity" parameterType="java.util.Map">
        select * from net_trade_rank_activity
        limit #{offset},#{limit}
    </select>
    
    <select id="getById" resultType="NetTradeRankActivity" parameterType="java.lang.Integer">
        select a.*, c1.short_name buyShortName, c2.short_name sellShortName
        from net_trade_rank_activity a, system_trade_type t, system_coin_type c1, system_coin_type c2
         where a.trade_id = t.id
         	and t.buy_coin_id = c1.id
         	and t.sell_coin_id = c2.id
         	and a.id = #{id}
    </select>
    
    <insert id="insertNetTradeRankActivity" parameterType="NetTradeRankActivity">
        INSERT INTO net_trade_rank_activity (
        name,
        trade_id,
        start_time,
        end_time,
        snapshot_time,
        min_net_trade,
        min_position)
        VALUES (
        #{name},
        #{tradeId},
		#{startTime},
		#{endTime},
		#{snapshotTime},
		#{minNetTrade},
		#{minPosition})
    </insert>
    
  <update id="updateNetTradeRankActivity" parameterType="NetTradeRankActivity">
    update net_trade_rank_activity
    set 
      	name = #{name},
      	trade_id = #{tradeId},
      	start_time = #{startTime},
      	end_time = #{endTime},
      	snapshot_time = #{snapshotTime},
      	min_net_trade = #{minNetTrade},
      	min_position = #{minPosition}
    where 
    	id = #{id}
  </update>
  
  <select id="selectNotSnapshot" resultType="NetTradeRankActivity">
    select * from net_trade_rank_activity
        where snapshot_status = 0 and snapshot_time &lt;= NOW()
  </select>
    
   <update id="updateSnapshot" parameterType="java.lang.Integer">
    update net_trade_rank_activity
    set 
      	snapshot_status = 1
    where 
    	id = #{id}
  </update>
</mapper>